// Specific CSS for your home-page
body{
  background: rgb(250,250,250);
}

ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

li{
  margin: 0px;
  padding: 0px;
  padding-right:0px;
  padding-left:0px;
}
.list-inline > li {
    padding-right: 0px;
    padding-left: 0px;
}
* {
  box-sizing: content-box;
}
p{
  font-size: 10px;
  margin: 0px;
}
