.playingCard{
  position: relative;
  width:120px;
  height:190px;
  background: white;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  margin: 5px;
}
.PC-Index{
  display: flex;
  margin-left: 5vw;
  margin-right: 5vw;
  padding: 5px;
  min-width:90vw;
}
.value-upperleft{
  top: 10px;
  left: 10px;
  position: absolute;

}
.value-lowerright{
  bottom: 10px;
  right: 10px;
  position: absolute;

}
.color-center{
  top: 50%;
  left: 50%;
  justify: center;
  position: absolute;
  transform: translate(-50%, -50%);
}

